/* MOBILE DISPLAY */

@media only screen and (max-width: 375px) {
    body {
        background-color: hsl(210, 32%, 90%);
        font-family: 'Comfortaa', Arial, sans-serif;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        height: 100vh;
    }

    .container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 86vw;
        height: 65vh;
        border-radius: 10px;
    }

    /* HEADER SECTION */

    .container__image {
        overflow: hidden;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .image__drawers {
        position: relative;
        bottom: 15px;
        width: 86vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* FOOTER SECTION */

    .container__footer {
        display: flex; 
        flex-direction: row;
    }

    .container__footer--info {
        display: flex;
        flex-direction: column;
    }

    /* ATTRIBUTION */

    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}

