/* MOBILE DISPLAY */

@media only screen and (max-width: 375px) {
    body {
        background-color: hsl(210, 32%, 90%);
        font-family: 'Comfortaa';
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        height: 100vh;
    }

    .container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        width: 86vw;
        height: 65vh;
        border-radius: 10px;
    }

    /* HEADER SECTION */

    .container__image {
        position: relative;
        top: -20px;
        overflow: hidden;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .image__drawers {
        width: 86vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* TEXT SECTION */

    .container__text {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-self: center;
    }

    .container__text--top {
        font-weight: 700;
        color: hsl(217, 19%, 35%);
        font-size: 16px;
        line-height: 25px;
    }

    .container__text--bottom {
        font-weight: 500;
        color: hsl(212, 18%, 56%);
        font-size: 13px;
        line-height: 25px;
    }

    /* FOOTER SECTION */

    .container__footer {
        display: flex; 
        flex-direction: row;
        justify-content: center;
    }

    .container__footer--info {
        display: flex;
        flex-direction: column;
    }

    .image__user {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .footer__name {
        color: hsl(217, 19%, 35%);
        font-weight: 700;
    }

    .footer__date {
        color: hsl(212, 24%, 74%);
    }

    /* ATTRIBUTION */

    .attribution { 
        position: absolute;
        bottom: 15px;
        font-size: 11px; 
        text-align: center; 
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}

